<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{ site.title }} </title>
    <meta name="description" content=" {{site.description}} ">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/github-markdown-css/github-markdown.min.css">
    <style>
      body {
        background-color: white !important;
        color: black !important;
      }
      .markdown-body {
        background: white !important;
        color: black !important;
      }
    </style>
  </head>
  <body>
    <main class="markdown-body">
      {{ content | markdownify }}
    </main>
    <footer>
    </footer>
  </body>
</html>
